.block{
  position: absolute;
    border: 2px solid black;
    width: 30vw;
   height: 120vh;
    margin-left: 66vw;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-weight: bolder;
    font-size: 2em;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}








@media screen and (max-width : 768px) {
   .block{
       display: none;
   }
}