h1{
    margin-left: 2vw;
    border-bottom: 3px solid red;
     display: inline-block;
}

.theLatest{
    margin-top: 10px;
    margin-left: 2vw;
   
    height: auto;
    width: 95vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    padding-bottom:50px ;
    
}
.Card{
   
    margin-top: 10px;
    width: 30%;
   
    height: auto;
    margin-left: 20px;
    background-color: white;
   box-shadow: 2px 2px 4px gray;
   padding: 10px;
    
}

.sCard{
height: 40%;
width: 100%;
}

.content{
   
    text-align: center;
  
}

.text1{
 
    font-weight: bold;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text2{
    font-weight: lighter;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

.t1{
    font-weight: bold;
}

.t2{
    font-weight: lighter;
}



@media screen  and (max-width:768px){
    .theLatest{
        flex-direction: column;
    }
    .Card{
        width: 80vw;
    }
    
}